<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is the room page
    <div>Hi {{username}}</div>
    <div>You are inside the {{room}} room</div>
    
    
    <div>
        <div>
            <input type="text" name="message" id="message-input" placeholder="message mesasge message">
        </div>
        <div>
            <a id="send-button">Send</a>
        </div>
    </div>
</body>
</html>